:root {
        --ic-brand-primary-darkened-5: #410092;
--ic-brand-primary-darkened-10: #3E008A;
--ic-brand-primary-darkened-15: #3A0083;
--ic-brand-primary-lightened-5: #4D0C9E;
--ic-brand-primary-lightened-10: #5619A3;
--ic-brand-primary-lightened-15: #6026A8;
--ic-brand-button--primary-bgd-darkened-5: #410092;
--ic-brand-button--primary-bgd-darkened-15: #3A0083;
--ic-brand-button--secondary-bgd-darkened-5: #2B3942;
--ic-brand-button--secondary-bgd-darkened-15: #27333B;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #5F26BA;
--ic-link-color-lightened-10: #783FD2;
--ic-brand-primary: #440099;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #692ace;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #2D3B45;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #440099;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #e36426;
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #440099;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_190000000095296/attachments/69820263/ub-logo-84x85.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1940742503&Signature=0Hdcf3rhLQng4Hb4z%2B40inQfP0I%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: url('https://instructure-uploads.s3.amazonaws.com/account_190000000095296/attachments/69820269/ub-logo-watermark.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1940742710&Signature=nc2RoTcV7Xx5oGpAX3YzEc371FA%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-watermark-opacity: 0.1;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_190000000095296/attachments/71434939/UB%20favicon.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1946100099&Signature=JVwtDpEqiMf2WS7WK7MPBaoza8g%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-apple-touch-icon: url('https://instructure-uploads.s3.amazonaws.com/account_190000000095296/attachments/69820271/ub-logo-180x180.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1940742711&Signature=JLBhX5r2%2BVgPV%2BUzT0GgH2YYGV4%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads.s3.amazonaws.com/account_190000000095296/attachments/69820272/ub-logo-canvas-558x558.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1940742711&Signature=Y%2BdGyn04HxZ%2BjwpkfMzq3LhcaBI%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads.s3.amazonaws.com/account_190000000095296/attachments/69820273/ub-logo-canvas-558x270.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1940742711&Signature=KW49t25XnIDOI8v52oowZn3Be5Q%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #440099;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_190000000095296/attachments/69820273/ub-logo-canvas-558x270.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1940742711&Signature=KW49t25XnIDOI8v52oowZn3Be5Q%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }